@charset "utf-8";

.m-join--form{
  width:300px;
  margin: 0 auto;
  padding: 8rem 0rem 3.5rem 0rem;
}
.m-join--title{
  font-size: 28px;
  text-align: center;
  color: var(--m-color02);
}
.p01{
  text-align: center;
  font-size: var(--f-size02);
  color:#aaa;
  margin:20px 0px 50px 0px;

}
.la{
  display: none;
}
.input{
  width: 298px;
  height: 50px;
  border-radius: 0.3rem;
  background-color: #f8f8f8;
  margin-bottom: 20px;
  padding-left: 15px;
  color:#888;
  font-size: var(--f-size02);
  border: #f8f8f8 1px solid;
}
.input:focus{
  border-color: var(--m-color01);
  outline: none;
}

input[type=checkbox]{
  border-radius: 50%;
  accent-color: var(--m-color01);
  border: solid 2px #dedede;
  background-color: #f8f8f8;
  appearance: none;
  cursor: pointer;
  width: 1rem;height: 1rem;
  font-size: 0.875rem;
}

input[type="checkbox"] + label{
  line-height: 2rem;
  color: #555;
  font-size: 0.85rem;
 }
input[type="checkbox"]:checked {
  background: #ffd800;
  color: #fff;
  
} 
input[type=button]{
  width: 19.8rem;
  background-color: var(--m-color01);
  color: var(--m-color02);
  font-size: var(--f-size03);
  border-radius: 0.5rem;
  transform: translateY(3rem);
}
