@charset "UTF-8";

/* 페이지 내비게이션 */
#page_nav{
  width: 100%; height: 140px;
  border-bottom: 1px solid #d9d9d9;
  position: relative;
}
.page_nav--box{
  position: absolute;
  width: 1200px; height: 60px;
  bottom:0px; left: 50%; transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page_nav--now{
  font-weight: 700;
  color: #333;
}
.page_nav--nav{
  font-weight: 700;
  font-size: var(--f-size02);
}
.page_nav--nav span{
  color : #666;
  font-weight: 500;
}
.page_nav--nav img{
  height: 13px;
  transform: translateY(1px);
  padding: 0px 10px;
}

/* 제목 */
#emb_h{
  background: var(--m-color01);
}
#emb_h > h2{
  display: none;
}
.emb_h-wrap{
  width:1200px;
  margin: 0 auto;
  padding: 50px 0px 120px;
  position: relative;
}
.emb_h-title_wrap{
  display: flex;
  justify-content: space-between;
}
.emb_h-title_text, .emb_h-title_type{
  color: var(--m-color02);
}
.emb_h-title_text{
  font-size: var(--f-size05);
  line-height: 55px;
}
.emb_h-title_type{
  font-size: var(--f-size02);
  font-weight: 300;
  line-height: 25px;
}
.emb_h-btn_wrap{
  text-align: center;
  z-index: 10;
}
.h_btn-badge{
  display: inline-block;
  line-height: 30px;
  width: 80px; height: 30px;
  border-radius: 35px;
  text-align: center;
  background: var(--m-color04);
  font-size: var(--f-size01);
  color: var(--m-color05);
  font-weight: 300;
  margin-bottom: 10px;
}
.h_btn-badge:first-of-type{
  margin-right: 5px;
}
.emb_h-applibtn{
  display: inline-block;
  width: 170px; height: 40px;
  line-height: 40px;
  font-weight: 500;
  text-align: center;
  background: var(--m-color02);
  color: var(--m-color05);
  font-size: var(--f-size03);
  border-radius: 35px;
}
.emb_h-bg{
  position: absolute;
  z-index: 1;
  right: 130px; top: 10px;
}



/* 채용 내용 */
#emb_i{
  width: 100%;
  padding: 50px 0px 0px;
  transform: translateY(-70px);
  box-shadow: 0px -4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 70px 70px 0px 0px;
  background: var(--m-color05);
  z-index: 10;
  position: relative;
}
#emb_i > h2{
  display: none;
}
.emb_i-index{
  width: 1200px;
  margin: 0 auto;
}
.emb_i-index > h3{
  display: none;
}
.emb_i-index hr{
  width: 100%;
  height: 1px;
  background: #d9d9d9;
}
.emb_i-textbox{
  min-height: 300px;
}
.emb_i-textbox p{
  margin:50px 0px;
  font-family: var(--f-style);
  font-size: var(--f-size02);
  line-height: 30px;
}


/* 지원버튼 서식 */
#emb_btn{
  width: 100%;
  padding: 50px 0px;
  transform: translateY(-70px);
  margin-bottom: -70px;
  background: #fff;
  position: relative;
  z-index: 13;
}
#emb_btn > h2{
  display: none;
}
.emb_btn-wrap > h3{
  display: none;
}
.emb_btn-wrap{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.emb_btn-pool{
  display: flex;
  font-size: var(--f-size01);
}
.emb_btn-pooltxt{
  margin-right: 20px;
  font-weight: 700;
}
.emb_btn-pooltxt span{
  display: block;
  margin-top: 10px;
  line-height: 21px;
  font-family: var(--f-style);
  font-weight: 300;
  margin-right: 20px;
}

.emb_btn-poolbtn{
  width: 200px; height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 35px;
  margin-right: 10px;
  font-weight: 700;
  background: var(--m-color01);
  color: var(--m-color02);
  margin-top: 10px;
}
.emb_btn-poolbtn img{
  padding-left: 10px;
}

.emb_btn-listbtn, .emb_btn-applibtn{
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 35px;
  margin-right: 10px;
  font-weight: 500;
  margin-top: 10px;
  position: relative;
  z-index: 12;
}
.emb_btn-listbtn{
  width: 100px;
  border: 1px solid var(--m-color02);
  color: var(--m-color02);
}
.emb_btn-applibtn{
  width: 200px;
  background: var(--m-color02);
  color: var(--m-color05);
}